@import "./variables.scss";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  padding: 0.625rem 1.25rem;
  margin-right: 14px;
  border: none;
  border-radius: 5%;
  cursor: pointer;

  white-space: nowrap;
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  direction: ltr;
  unicode-bidi: normal;
  transform: none;
}

.btn--ghost {
  background: transparent;
  color: #4caf4f;

  &:hover {
    color: map-get($colors, primary);
  }
}

.btn--solid {
  background-color: #4caf4f;
  color: map-get($neutral-colors, white);

  &:hover {
    background-color: map-get($colors, primary);
  }
}

.active {
  visibility: visible !important;
}

.inactive {
  display: none;
}

.text-primary {
  color: #4caf4f;
}

.bg-white {
  isolation: isolate;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: map-get($neutral-colors, white);
  width: 100vw;
  height: 100%;
}

.bg-silver {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: map-get($neutral-colors, silver);
  width: 100vw;
  height: 100%;
}

.bg-black {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: map-get($neutral-colors, black);
  width: 100vw;
  height: 100%;
}

@mixin grid-item-cl($start: 1, $end: 3) {
  grid-column-start: 1;
  grid-column-end: 3;
}

@mixin grid-item-rw($start: 1, $end: 3) {
  grid-row-start: 1;
  grid-row-end: 3;
}

h1 {
  font-size: map-get($headlines, h1, size);
  line-height: map-get($headlines, h1, line-height);
  margin: 0;
}

h2 {
  font-size: map-get($headlines, h2, size);
  line-height: map-get($headlines, h2, line-height);
  margin: 0;
}

h3 {
  font-size: map-get($headlines, h3, size);
  line-height: map-get($headlines, h3, line-height);
  margin: 0;
}

h4 {
  font-size: map-get($headlines, h4, size);
  line-height: map-get($headlines, h4, line-height);
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}
