@import "./variables.scss";
@import "./utility.scss";

:root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: map-get($neutral-colors, silver);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: map-get($text-colors, black);
  overflow-x: hidden;
}

body {
  max-width: 90rem;
  margin: 0;
}

.header {
  display: flex;
  height: 5.25rem;
  justify-content: space-around;
  align-items: center;

  &__logo {
    width: 155px;
    height: 100%;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 124.5px;
    font-size: map-get($body, body2, size);
    line-height: map-get($body, body2, line-height);
    text-decoration: none;
    height: 100%;
  }

  &__list-items {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding: 0;
  }

  &__link {
    color: map-get($text-colors, black);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: map-get($colors, primary);
    }
  }

  &__auth {
    display: flex;
    gap: 14px;
    margin: 22px 0;
  }
}

.hero {
  isolation: isolate;
  display: flex;
  position: relative;
  height: 37.5rem;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  padding: 0 9rem;

  &__content {
    display: flex;
    position: relative;
  }

  &__slide {
    display: flex;
    position: absolute;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.6s ease-in-out;

    &.active {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
      position: relative;
    }

    &.inactive {
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
    }
  }

  &__text {
    margin-right: 104px;
    width: 657px;
    h1 {
      color: map-get($neutral-colors, d-grey);
    }

    button {
      height: 52px !important;
      width: 128px !important;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  &__dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    width: fit-content;
    height: 10px;
    gap: 8px;
  }

  &__dot--active {
    border-radius: 50%;
    width: 10px;
    background-color: #4caf4f;
  }

  &__dot--inactive {
    border-radius: 50%;
    background-color: #4caf4f;
    width: 10px;
    opacity: 30%;
  }
}

main {
  position: relative;
  display: flex;
  height: max-content;
  flex-direction: column;
}

.clients {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 190px;
  margin-top: 40px;

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: map-get($neutral-colors, d-grey);
    }

    p {
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
      color: map-get($neutral-colors, grey);
    }
  }

  &__icons {
    height: 98px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 136px;
  }
}

.community {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 416px;
  margin-top: 40px;

  &__intro {
    text-align: center;

    h2 {
      color: map-get($neutral-colors, d-grey);
      width: 542px;
    }

    p {
      margin-top: 8px;
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
      color: map-get($neutral-colors, grey);
    }
  }

  &__groups {
    margin-top: 16px;
    display: flex;
    gap: 127.5px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 24px 16px;
    border-radius: 5%;
    box-shadow: 0 2px 8px #abbed133;
    h3 {
      margin-top: 16px;
      color: map-get($neutral-colors, d-grey);
      width: 231px;
    }

    p {
      margin-top: 8px;
      width: 260px;
      font-size: map-get($body, body3, size);
      line-height: map-get($body, body3, line-height);
      color: map-get($neutral-colors, grey);
    }
  }

  &__icon {
    margin: 0;
    width: 65px;
    height: 56px;
  }
}

.unlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;

  &__image {
    margin-right: 47px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 601px;
    h2 {
      color: map-get($neutral-colors, d-grey);
    }
    p {
      font-size: map-get($body, body3, size);
      line-height: map-get($body, body3, line-height);
      color: map-get($neutral-colors, grey);
      margin-top: 16px;
    }
  }

  &__btn {
    width: fit-content;
    margin-top: 32px;
    padding: 14px 32px;
  }
}

.achievements {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 288px;

  &__heading {
    width: max-content;
    margin-right: 72px;

    h2 {
      color: map-get($neutral-colors, d-grey);
    }

    p {
      width: 540px;
      margin-top: 8px;
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
    }
  }

  &__counts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 30px;
  }

  &__element {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 16px;

    h3 {
      color: map-get($neutral-colors, d-grey);
    }

    p {
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
      color: map-get($neutral-colors, grey);
    }
  }

  &__item1 {
    @include grid-item-rw();
  }
}

.calendar {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;

  &__image {
    margin-right: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 601px;
    h2 {
      color: map-get($neutral-colors, d-grey);
    }
    p {
      font-size: map-get($body, body3, size);
      line-height: map-get($body, body3, line-height);
      color: map-get($neutral-colors, grey);
      margin-top: 16px;
    }
  }

  &__btn {
    width: fit-content;
    margin-top: 32px;
    padding: 14px 32px;
  }
}

.customers {
  margin-top: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 390px;

  &__image {
    width: 326px;
    height: 326px;
    margin-right: 78px;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
    box-shadow: 0 16px 16px #abbed166;
  }

  &__content {
    h4 {
      margin-top: 16px;
    }

    p {
      width: 748px;
      font-weight: 500;
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
      color: map-get($neutral-colors, grey);
    }

    span {
      font-weight: 400;
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
      color: map-get($neutral-colors, l-grey);
    }
  }

  &__footer {
    display: flex;
    margin-top: 32px;
    align-items: center;
  }

  &__logos {
    display: flex;
    gap: 41px;
    margin-right: 32px;
  }

  &__navigate {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    cursor: pointer;
    h4 {
      margin: 0;
      font-weight: 500;
    }
  }
}

.community-updates {
  margin-top: 48px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 506px;

  &__intro {
    text-align: center;
    h2 {
      color: map-get($neutral-colors, d-grey);
    }

    p {
      width: 628px;
      margin-top: 8px;
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
      font-weight: 400;
      color: map-get($neutral-colors, grey);
    }
  }

  &__nav {
    display: flex;
    margin-top: 16px;
    gap: 24px;
  }

  &__element {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__card {
    border-radius: 3%;
    background-color: white;
    padding: 16px;
    box-shadow: 0 16px 16px #abbed166;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);

    h4 {
      width: 285px;
      font-weight: 600;
      color: map-get($neutral-colors, grey);
    }
  }

  &__navigate {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
    cursor: pointer;
    h4 {
      width: 100px;
      font-weight: 600;
      color: #4caf4f;
    }
  }
}

.footer {
  &__head {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 300px;

    h1 {
      width: 887px;
      color: map-get($neutral-colors, black);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 32px;
    color: white;

    p {
      font-size: map-get($body, body2, size);
      line-height: map-get($body, body2, line-height);
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    position: relative;
    height: 328px;
    display: flex;
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 350px;
    margin-right: 125px;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      font-weight: 400;
      color: white;
      font-size: map-get($body, body3, size);
      line-height: map-get($body, body3, line-height);
    }
  }

  &__logo {
    width: 191px;
  }

  &__social-links {
    display: flex;
    gap: 16px;
  }

  &__btn-social {
    background-color: #3c464c;
    padding: 0;
    border-radius: 50%;
    width: fit-content;

    &:hover {
      opacity: 50%;
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__nav-column {
    width: 160px;
    height: 200px;
    align-items: start;
    color: white;
  }

  &__list-items {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 24px;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    gap: 12px;
  }

  &__link {
    font-weight: 400;
    color: white;
    font-size: map-get($body, body3, size);
    line-height: map-get($body, body3, line-height);
  }

  &__input {
    margin-top: 24px;
    display: flex;
    position: relative;
    border-radius: 5px;
    width: 255px;
    height: 40px;
    input {
      border-radius: 5px;
      padding: 8px;
      width: 100%;
      border: none;
      outline: none;
      background-color: #3c464c;

      &::placeholder {
        color: white;
      }
    }
  }

  &__send {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 8px;
  }
}
