.btn {
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  margin-right: 14px;
  border: none;
  border-radius: 5%;
}

.btn--ghost {
  background: transparent;
  color: #4caf4f;
}
.btn--ghost:hover {
  color: #28cb8b;
}

.btn--solid {
  background-color: #4caf4f;
  color: #ffffff;
}
.btn--solid:hover {
  background-color: #28cb8b;
}

.active {
  visibility: visible !important;
}

.inactive {
  display: none;
}

.text-primary {
  color: #4caf4f;
}

.bg-white {
  isolation: isolate;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: #ffffff;
  width: 100vw;
  height: 100%;
}

.bg-silver {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: #f5f7fa;
  width: 100vw;
  height: 100%;
}

.bg-black {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: #263238;
  width: 100vw;
  height: 100%;
}

h1 {
  font-size: 4rem;
  line-height: 4.75rem;
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 0;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #18191F;
  overflow-x: hidden;
}

body {
  min-width: 375px;
  max-width: 90rem;
  margin: 0;
}

.header {
  display: flex;
  height: 5.25rem;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  .header {
    justify-content: space-evenly;
  }
}
.header__logo {
  width: 155px;
  height: 100%;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 110px;
    margin-left: 20px;
  }
}
.header__nav {
  display: flex;
  gap: 124.5px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  height: 100%;
}
@media (max-width: 1024px) {
  .header__nav {
    gap: 88px;
  }
}
.header__list-items {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  padding: 0;
}
@media (max-width: 1024px) {
  .header__list-items {
    gap: 35px;
  }
}
.header__link {
  color: #18191F;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header__link:hover {
  color: #28cb8b;
}
.header__auth {
  display: flex;
  gap: 14px;
  margin: 22px 0;
}

.hero {
  isolation: isolate;
  display: flex;
  position: relative;
  height: 37.5rem;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  padding: 0 9rem;
}
.hero__content {
  display: flex;
  position: relative;
}
.hero__slide {
  display: flex;
  position: absolute;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.6s ease-in-out;
}
.hero__slide.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  position: relative;
}
.hero__slide.inactive {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}
.hero__text {
  margin-right: 104px;
  width: 657px;
}
.hero__text h1 {
  color: #4d4d4d;
}
.hero__text button {
  height: 52px !important;
  width: 128px !important;
}
.hero__text p {
  color: #717171;
  size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.hero__dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  width: fit-content;
  height: 10px;
  gap: 8px;
}
.hero__dot--active {
  border-radius: 50%;
  width: 10px;
  background-color: #4caf4f;
}
.hero__dot--inactive {
  border-radius: 50%;
  background-color: #4caf4f;
  width: 10px;
  opacity: 30%;
}

main {
  position: relative;
  display: flex;
  height: max-content;
  flex-direction: column;
}

.clients {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 190px;
  margin-top: 40px;
}
.clients__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients__intro h2 {
  color: #4d4d4d;
}
.clients__intro p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #717171;
}
.clients__icons {
  height: 98px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 136px;
}
@media (max-width: 1024px) {
  .clients__icons {
    gap: 96px;
  }
}

.community {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 416px;
  margin-top: 40px;
}
.community__intro {
  text-align: center;
}
.community__intro h2 {
  color: #4d4d4d;
  width: 542px;
}
.community__intro p {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #717171;
}
.community__groups {
  margin-top: 16px;
  display: flex;
  gap: 127.5px;
}
@media (max-width: 1024px) {
  .community__groups {
    gap: 90px;
  }
}
.community__group {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 24px 16px;
  border-radius: 5%;
  box-shadow: 0 2px 8px rgba(171, 190, 209, 0.2);
}
@media (max-width: 1024px) {
  .community__group {
    max-width: 210px;
  }
}
.community__group h3 {
  margin-top: 16px;
  color: #4d4d4d;
  width: 231px;
}
.community__group p {
  margin-top: 8px;
  width: 260px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #717171;
}
@media (max-width: 1024px) {
  .community__group p {
    max-width: 182px;
  }
}
.community__icon {
  margin: 0;
  width: 65px;
  height: 56px;
}

.unlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}
.unlock__image {
  margin-right: 47px;
}
@media (max-width: 1024px) {
  .unlock__image {
    max-width: 310px;
  }
}
.unlock__content {
  display: flex;
  flex-direction: column;
  width: 601px;
}
.unlock__content h2 {
  color: #4d4d4d;
}
.unlock__content p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #717171;
  margin-top: 16px;
}
.unlock__btn {
  width: fit-content;
  margin-top: 32px;
  padding: 14px 32px;
}

.achievements {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 288px;
}
.achievements__heading {
  width: max-content;
  margin-right: 72px;
}
@media (max-width: 1024px) {
  .achievements__heading {
    margin-right: 51px;
    max-width: 480px;
  }
}
.achievements__heading h2 {
  color: #4d4d4d;
}
@media (max-width: 1024px) {
  .achievements__heading h2 {
    margin-right: 51px;
  }
}
.achievements__heading p {
  width: 540px;
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.achievements__counts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 30px;
}
@media (max-width: 1024px) {
  .achievements__counts {
    column-gap: 21px;
  }
}
.achievements__element {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 16px;
}
.achievements__element h3 {
  color: #4d4d4d;
}
@media (max-width: 1024px) {
  .achievements__element h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.achievements__element p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #717171;
}
@media (max-width: 1024px) {
  .achievements__element p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.achievements__item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
@media (max-width: 1024px) {
  .achievements__item1 {
    max-width: 34px;
  }
}

.calendar {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}
.calendar__image {
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .calendar__image {
    max-width: 310px;
  }
}
.calendar__content {
  display: flex;
  flex-direction: column;
  width: 601px;
}
.calendar__content h2 {
  color: #4d4d4d;
}
.calendar__content p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #717171;
  margin-top: 16px;
}
.calendar__btn {
  width: fit-content;
  margin-top: 32px;
  padding: 14px 32px;
}

.customers {
  margin-top: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 390px;
}
.customers__image {
  width: 326px;
  height: 326px;
  margin-right: 78px;
  object-fit: cover;
  object-position: center;
  border-radius: 2%;
  box-shadow: 0 16px 16px rgba(171, 190, 209, 0.4);
}
.customers__content h4 {
  margin-top: 16px;
}
.customers__content p {
  width: 748px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #717171;
}
@media (max-width: 1024px) {
  .customers__content p {
    max-width: 524px;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.customers__content span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #89939e;
}
.customers__footer {
  display: flex;
  margin-top: 32px;
  align-items: center;
}
.customers__logos {
  display: flex;
  gap: 29px;
  margin-right: 32px;
}
@media (max-width: 1024px) {
  .customers__logos {
    gap: 21px;
  }
  .customers__logos img {
    width: 34px;
  }
}
.customers__navigate {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  cursor: pointer;
}
.customers__navigate h4 {
  margin: 0;
  font-weight: 500;
}

.community-updates {
  margin-top: 48px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 506px;
}
@media (max-width: 1024px) {
  .community-updates {
    height: 912px;
  }
}
.community-updates__intro {
  text-align: center;
}
.community-updates__intro h2 {
  color: #4d4d4d;
}
.community-updates__intro p {
  width: 628px;
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #717171;
}
.community-updates__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 24px;
}
@media (max-width: 1024px) {
  .community-updates__nav {
    row-gap: 126px;
    column-gap: 36px;
  }
}
.community-updates__element {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.community-updates__card {
  border-radius: 3%;
  background-color: white;
  padding: 16px;
  box-shadow: 0 16px 16px rgba(171, 190, 209, 0.4);
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}
.community-updates__card h4 {
  width: 285px;
  font-weight: 600;
  color: #717171;
}
.community-updates__navigate {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  cursor: pointer;
}
.community-updates__navigate h4 {
  width: 100px;
  font-weight: 600;
  color: #4caf4f;
}

.footer__head {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 300px;
}
.footer__head h1 {
  width: 887px;
  color: #263238;
}
.footer__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 32px;
  color: white;
}
.footer__btn p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.footer__main {
  display: flex;
  justify-content: center;
  position: relative;
  height: 328px;
  display: flex;
}
.footer__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 350px;
  margin-right: 125px;
}
@media (max-width: 1024px) {
  .footer__info {
    margin-right: 0;
  }
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__copyright p {
  font-weight: 400;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.footer__logo {
  width: 191px;
}
.footer__social-links {
  display: flex;
  gap: 16px;
}
.footer__btn-social {
  background-color: #3c464c;
  padding: 0;
  border-radius: 50%;
  width: fit-content;
}
.footer__btn-social:hover {
  opacity: 50%;
}
.footer__nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .footer__nav {
    gap: 21px;
  }
}
.footer__nav-column {
  width: 160px;
  height: 200px;
  align-items: start;
  color: white;
}
.footer__list-items {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  color: white;
  text-decoration: none;
  list-style: none;
  gap: 12px;
}
.footer__link {
  font-weight: 400;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.footer__input {
  background-color: #3c464c;
  margin-top: 24px;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  border-radius: 5px;
  width: 255px;
  height: 40px;
  padding-right: 8px;
}
@media (max-width: 1024px) {
  .footer__input {
    width: 158px;
  }
}
.footer__input input {
  color: white;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #3c464c;
}
.footer__input input::placeholder {
  color: white;
}
.footer__send:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
